.Link {
  background: none;
  border: 0;
  border-radius: 0;
  color: var(--colors-main);
  cursor: pointer;
  display: inline;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
}

.Link:hover {
  text-decoration: underline;
}

.Link:active {
  text-decoration: underline;
  color: var(--colors-main-400);
}
